 
 <nav class="navbar navbar-expand-md navbar-dark   sticky-top bg-danger2" > 
    <a class="navbar-brand title" (click)="regresarHome()" style="cursor: pointer;    color: white !important;">
        <i class="fas fa-house-user fa-1x "></i> INSPECCIONES
    </a>
    <button class="navbar-toggler  " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto">
            <li class="nav-item dropdown" *ngFor="let menu of menuPrincipal">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="elegirMenu(menu)" >
                    {{menu.nombre_principal}}
                 </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item puntero"   *ngFor="let menu2 of menu.listMenu"  (click)="elegirSubMenu(menu2)" >  {{menu2.nombre_page | uppercase }} </a>
                </div> 
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 formBoton">
            <div class="dropdown"  >
                <button class="btn btn-sm dropdown-toggle text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 {{nameUser}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="text-center ml-1">
                        <button class="btn btn-outline-dark btn-sm   " type="button" (click)="cerrarSesion()">  Cerrar Sesion</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</nav>